# Environment
ENVIRONMENT=development
NODE_ENV=development

# AWS
AWS_REGION=us-east-1
DYNAMODB_TABLE_NAME=NeoFit_MasterTable

# Stripe
STRIPE_SECRET_KEY=sk_test_

# Secrets
JWT_SECRET=your-jwt-secret-key